Adafruit-Blinka==8.19.0
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-fingerprint==2.2.12
adafruit-circuitpython-requests==1.14.1
adafruit-circuitpython-typing==1.9.4
Adafruit-PlatformDetect==3.46.0
Adafruit-PureIO==1.1.11
contourpy==1.1.0
customtkinter==5.2.0
cycler==0.11.0
darkdetect==0.8.0
fonttools==4.40.0
kiwisolver==1.4.4
matplotlib==3.7.1
numpy==1.25.0
packaging==23.1
pandas==2.0.3
Pillow==10.0.0
pyftdi==0.54.0
pyparsing==3.1.0
pyserial==3.5
python-dateutil==2.8.2
pytz==2023.3
pyusb==1.2.1
six==1.16.0
typing_extensions==4.7.0
tzdata==2023.3
